<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre casa:</strong>
  <%= @family.nombre_casa %>
</p>

<p>
  <strong>Numero casa:</strong>
  <%= @family.numero_casa %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @family.telefono %>
</p>
<%if session[:type_user]=="Administrador"%>
<p>
  <strong>Comunidad:</strong>
  <%= @family.comunity.nombre %>
</p>
<%end%>
<p>
  <strong>Direccion:</strong>
  <%= @family.direccion %>
</p>


 <button type="button" class="btn btn-danger" aria-label="Left Align" onclick="window.location.href='<%=families_path%>'">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" ></span>
      Regresar &nbsp;
    </button>
<% if session[:type_user]!="SimpleUser"%>
    <button type="button" class="btn btn-primary" aria-label="Left Align" onclick="window.location.href='<%=edit_family_path(@family)%>'">
      <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
      Editar &nbsp;
    </button>
<%end%>