<!DOCTYPE html>
<html>
<head>
  <title>Gestion de Comunidades</title>
  <%if current_user%>
  	<link rel="shortcut icon" href="photo_store/usericon.ico">
  <%else%>
  	<link rel="shortcut icon" href="photo_store/usericonlogout.ico">

  <%end%>

  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class = "row" style="margin-top:10px; margin-left:0;margin-right:0">
	<div class="col-sm-9 col-md-10">

<div>
	<label id="clock"><%=getCurrentTime%></label>
</div>
		<nav style= "display: in-line; margin-top:5%" >
			
<ul class="nav nav-tabs"> 
	<li id="op-" role="presentation"><%= link_to 'Inicio', root_path%></li>
	<%if current_user%>
		<% if session[:type_user]=="Administrador"%>
			
			<li  id="op-users" role="presentation" class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Usuarios 
				<span class="caret"></span> 
				</a> 
				<ul class="dropdown-menu"> 
					<li><%= link_to 'Ver Usuarios', users_path%></li>
					<li role="separator" class="divider"></li>
					<li><%= link_to 'Tipos de Usuarios', types_path%></li>
				</ul> 
			</li>
			<li  id="op-requests" role="presentation" class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Solicitudes 
				<span class="caret"></span> 
				</a> 
				<ul class="dropdown-menu"> 
					<li><%= link_to 'Ver Solicitudes', requests_path%></li>
					<li role="separator" class="divider"></li>
					<li><%= link_to 'Tipos de Solicitudes', type_requests_path%></li>
					<li><%= link_to 'Estados de Solicitudes', status_requests_path%></li>
				</ul> 
			</li>
				
			<li  id="op-comunities" role="presentation" class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Comunidades 
				<span class="caret"></span> 
				</a> 
				<ul class="dropdown-menu"> 
					<li><%= link_to 'Ver Comunidades', comunities_path%></li>
					<li role="separator" class="divider"></li>
					<li><%= link_to 'Ver Familias', families_path%></li>
					<li><%= link_to 'Ver Perfiles', profiles_path%></li>
					<li><%= link_to 'Ver Miembros', members_path%></li>
					<li role="separator" class="divider"></li>
					<li><%= link_to 'Roles', jobs_path%></li>
				</ul> 
			</li>
			<li id="op-locations" role="presentation" class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Ubicaciones
				<span class="caret"></span> 
				</a> 
				<ul class="dropdown-menu"> 
					<li><%= link_to 'Estados', states_path%></li>
					<li><%= link_to 'Municipios', towns_path%></li>
					<li><%= link_to 'Parroquias', parishes_path%></li>
				</ul> 
			</li>
		<%end%>

		<% if session[:type_user]=="Miembro"%>
			<li id="op-families"><%= link_to 'Familias', families_path%></li>
			<li id="op-profiles"><%= link_to 'Perfiles', profiles_path%></li>
			<li id="op-requests"><%= link_to 'Solicitudes ('+Request.where(comunity_id: current_user.profile.member.comunity_id,status_request_id: StatusRequest.where(nombre: "Pendiente")[0].id).length.to_s+')', requests_path%></li>

		<%end%>

		<% if session[:type_user]=="SimpleUser"%>
			<li id="op-families"><%= link_to 'Mi Familia', profiles_path%></li>
			<li id="op-requests"><%= link_to 'Solicitudes', requests_path%></li>
		<%end%>
		
			<li id ="op-my_profile" role="presentation" class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Mi Cuenta 
				<span class="caret"></span> 
				</a> 
				<ul class="dropdown-menu"> 
					<% if current_user.profile%>
						<li id="myaccount_link" ><%= link_to 'Mi perfil', my_profile_path ,{id: "myaccount_link"}%></li>
					<%end%>
					<li><%= link_to 'Cerrar Sesion', logout_path%></li>
				</ul> 
			</li>


		
		<form accept-charset="UTF-8" action="/buscar" class="search" id="search" method="get">
			<div class="col-lg-4 float-right">
		        <div class="input-group">
		          <input type="text" name="text" style="height: 31px;"class="form-control" placeholder="Ingresa tu busqueda...">
		          <span class="input-group-btn">
		            <button class="btn btn-primary" type="submit">Buscar!</button>
		          </span>
		        </div>
		     </div>
		</form>

	<%else%>
		<li id="op-login"><%= link_to 'Iniciar Sesion', login_path%></li>
		<li id="op-register"><%= link_to 'Registrate!', register_path%></li>
	<%end%>	
 
</ul>




		</nav>
	</div>
	<div class="col-sm-3 col-md-2" style="padding-left:0;padding-right:0;z-index: 1">
		<div style="margin-right:5%;">
			<p style='text-align:center; margin-right:5px'>
				<strong>
					<% if current_user%>
				 		<div class="row">
							<div class="col-sm-6 col-md-12" style="position:absolute;">
								<div class="thumbnail">
									<div class="caption">
										<p>
											<%=current_user.profile.nombre_completo(20)%> </br>
											<% if session[:type_user]=="Administrador"%>
												<%=session[:type_user]%></br>
											<%end%>
											<% if session[:type_user]=="Miembro"%>
												Cargo: <%=current_user.profile.member.job.nombre%><br>
												"<%=current_user.profile.member.comunity.nombre%>"</br>
									 		<%end%>
										</p>
										<div class="container-center avatar">
						 					<%if current_user.profile%>
												<%= image_tag current_user.profile.ruta_photo, class: "avatar"%>
									 		<%else%>
						 						<%= image_tag "/photo_store/default.jpg", class: "avatar"%>
									 		<%end%>
						             	 </div>
									</div>
								</div>
							</div>
						</div>
					<%end%>
				</strong>
			</p>
		</div>
	</div>
</div>	

<div class="col-sm-12 col-md-12" >
<div class="container" style="margin-top:20px">

<%= yield %>
</div>
</div>
</body>
</html>
	